.movie-library {
  .rating {
    overflow: hidden;
    padding-left: 50px;

    .stars {
      float: left;
      padding: 5px 0;

      .star {
        position: relative;
        color: #D4AF37;
        margin-right: 2px;
        font-size: 12px;

        &.filled:before {
          content: "\2605";
          position: absolute;
          top: -3px;
        }
      }

      .votes {
        font-family: 'Helvetica', 'Arial', 'sans-serif';
        margin-left: 5px;
        font-size: 12px;
      }
    }
  }

  .heading {
    font-family: 'Mylodon-Light', 'arial', 'sans-serif';
    text-align: center;
    color: #10B7FF;
    margin: 50px 0;
    letter-spacing: 4px;
  }

  .movie-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 0 50px 0;
    padding: 0;
    list-style: none;

    .title {
      font-family: 'Mylodon-Light', 'arial', 'sans-serif';
      display: block;
      letter-spacing: 4px;
      margin-bottom: 10px;
      max-width: 180px;
      font-size: 12px;
    }

    .list-item-wrapper {
      border-radius: 3px;
      list-style-image: none;
      color: #10B7FF;
      cursor: pointer;
      text-align: center;
      margin-bottom: 23px;

      .list-item {
        border: 1px solid #10B7FF;
        overflow: hidden;
        margin-bottom: 10px;
        text-align: center;
        -webkit-box-reflect: below -2px -webkit-gradient(linear, left top, left bottom, from(#0000), color-stop(30%, #0000), to(#fafafa1a));

        .poster {
          height: 100%;
          width: auto;
          display: inline-block;
          -webkit-box-reflect: below 80px -webkit-gradient(linear, left top, left bottom, from(#0000), color-stop(40%, #0000), to(#fafafa1a));
        }

        .poster:after {
          content: "";
          display: block;
          background: -moz-element(#moz-reflect) no-repeat;
          width: auto;
          height: 375px;
          margin-bottom: 100px;
          -moz-transform: scaleY(-1);
        }
      }
    }
  }
}